@CHARSET "UTF-8";
/* css动画 */
@keyframes dhl {/*导航栏文字跳动动画*/
	0% {padding-top:10px;}
	50% {padding-top:5px;}
	100% {padding-top:10px;}
}
/* css样式 */
* {
	padding: 0;
	margin: 0;
}
body {
	
	overflow: scroll;
}
div{
	display: block;
}
body ul{
	list-style-type: none;
}
.all{
	min-width: 1340px;
		
}

.naviqation-bar {
	display:flex;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: rgba(204, 204, 204, 0.1);
	 background-image: linear-gradient(0deg, rgba(204, 204,204, 0), rgba(0, 0, 0, 0.2));
}
.naviqation-bar1-1{
	display:flex;
  justify-content: flex-start;
  width:38%;
  height:45px;
}
.naviqation-bar1-1 li {
	margin: 0;
	padding: 0;
	width:25%;
	text-align: center;
}
.naviqation-bar1-1 li button{
	font-family: "微软雅黑";
	padding-top:10px;
	font-weight: 100;
	color: #fff;
	text-align: center;
	border-style: hidden;
	text-decoration: none;
	background: rgba(204, 204, 204, 0);
	}
.naviqation-bar1-1 li a {
	font-family: "微软雅黑";
	margin: 0;
	display: block;
	font-weight: 1000;
	color: #fff;
	text-align: center;
	border-style: hidden;
	padding-top:10px;
	text-decoration: none;
	background: rgba(204, 204, 204, 0);
}
.naviqation-bar1-1 li a:hover {
	 animation-duration: 0.6s;
       animation-name: dhl;
	}
.naviqation-bar1-1 li a img {
	width:29px;
	heigh:29px;

	}
	.naviqation-bar1-1 li a span {
	font-family: "微软雅黑";
	font-weight: 1000;
	color: #fff;
	border-style: hidden;
	margin:0;
	padding: 0;
	text-decoration: none;
	
}
.naviqation-bar1-2 {
	display:flex;
  justify-content: flex-center;
   width:26%;
   height:45px;
   text-align: center;
   position:relative;
}
.zy-grabble{
	margin-top: 2px;
	margin-left: 2px;
	width:300px;
	height: 41px;
	font-family: "微软雅黑";
	background: rgba(240, 240, 240, 0.9);
	border-style: hidden;
	border-radius: 10px;
}
.zy-grabble:hover{
	background: rgba(255, 255, 255, 0.9);
}
.zy-grabble:focus{
	outline:1px solid #ccc;
}
.zy-grabble::-webkit-input-placeholder {
	color: #666;
}
.grabble-img{
	z-index:1;
	position:absolute;
	top:9px;
	right:59px;
	width:28px;
	 opacity: 0.8;
}
.grabble-img:hover{
	background: #ccc;
	border-style: hidden;
	border-radius: 7px;
}
.naviqation-bar1-3{
	display:flex;
  justify-content: flex-end;
   width:36%;
   height:45px;
}


.naviqation-bar1-3 li {
	margin: 0;
	padding: 0;
	width:25%;
	text-align: center;
}
.li2 {
	margin: 0;
	padding: 0;
	width:40%;
	text-align: center;
}
.naviqation-bar1-3 li a {
	font-family: "微软雅黑";
	margin: 0;
	display: block;
	font-weight: 1000;
	color: #fff;
	text-align: center;
	border-style: hidden;
	padding-top:10px;
	text-decoration: none;
	background: rgba(204, 204, 204, 0);
}
.naviqation-bar1-3 li a:hover {
	 animation-duration: 0.6s;
       animation-name: dhl;
	}
.naviqation-bar-image{
	 border-radius: 50%;
	  border: 1px solid #fff;
	  width:29px;
	  heigh:29px;
	  
}

	.naviqation-bar1-3 li a .img1 {
	width:29px;
	heigh:29px;
	

	}
	.naviqation-bar1-3 li a .img2 {
	width:29px;
	heigh:29px;
	

	}

.blackground{
	height:100px;
}



.zynr-all{
	margin-top:0;
	margin-left:100px;
	margin-right:100px;
	height:1000px;
}
.bjimg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	object-fit: cover;
}

.classify{
	margin:0;
	width:100%;
	height:100px;
	padding-top:20px;
	padding-bottom:10px;
}
.classify-s{
	font-family: "微软雅黑";
	color: #000;
	letter-spacing: 3px;
	margin-top:15px;
	margin-left:0.5%;
	margin-right:0.5%;
	margin-bottom:0px;
	text-align: center;
	width:70px;
	height:33px;
	background: rgba(233, 233, 233, 0.5);
	border-style: hidden;
	border-radius: 5px;
}
.classify-s:hover{
	background: rgba(205, 205, 205, 0.5);
}
.content{
	margin-top:50px;
	border-style: none;
	width:100%;
	height:2570px;
}
.foot-layout {
    margin-bottom:0;
    margin-left:0;
    width:100%;
    height:40px;
}
.foot-p2 {
	width:100%;
	height:20px;
    text-align:center;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
