<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>logincode</servlet-name>
    <servlet-class>Servlet.logincode</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>Servlet.loginservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>dataprocesing</servlet-name>
    <servlet-class>Servlet.dataprocesing</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>sy</servlet-name>
    <servlet-class>Servlet.sy</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>registerservlet</servlet-name>
    <servlet-class>Servlet.registerservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>loginpdservlet</servlet-name>
    <servlet-class>Servlet.loginpdservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>gllogin</servlet-name>
    <servlet-class>Servlet.gllogin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>grxx</servlet-name>
    <servlet-class>Servlet.grxx</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ggxx</servlet-name>
    <servlet-class>Servlet.ggxx</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ggsj</servlet-name>
    <servlet-class>Servlet.ggsj</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ggqm</servlet-name>
    <servlet-class>Servlet.ggqm</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ggtx</servlet-name>
    <servlet-class>Servlet.ggtx</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>sctp</servlet-name>
    <servlet-class>Servlet.sctp</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>spsc</servlet-name>
    <servlet-class>Servlet.spsc</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>conent</servlet-name>
    <servlet-class>Servlet.conent</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>transmit</servlet-name>
    <servlet-class>Servlet.transmit</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ss</servlet-name>
    <servlet-class>Servlet.ss</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>conentlx</servlet-name>
    <servlet-class>Servlet.conentlx</servlet-class>
  </servlet>





  














  <servlet-mapping>
    <servlet-name>logincode</servlet-name>
    <url-pattern>/logincode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>sy</servlet-name>
    <url-pattern>/sy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registerservlet</servlet-name>
    <url-pattern>/registerservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginpdservlet</servlet-name>
    <url-pattern>/loginpdservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>gllogin</servlet-name>
    <url-pattern>/gllogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>grxx</servlet-name>
    <url-pattern>/grxx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ggxx</servlet-name>
    <url-pattern>/ggxx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ggsj</servlet-name>
    <url-pattern>/ggsj</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ggqm</servlet-name>
    <url-pattern>/ggqm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ggtx</servlet-name>
    <url-pattern>/ggtx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sctp</servlet-name>
    <url-pattern>/sctp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>spsc</servlet-name>
    <url-pattern>/spsc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>conent</servlet-name>
    <url-pattern>/conent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>transmit</servlet-name>
    <url-pattern>/transmit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ss</servlet-name>
    <url-pattern>/ss</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>conentlx</servlet-name>
    <url-pattern>/conentlx</url-pattern>
  </servlet-mapping>
	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
